# Ignore user-specific Qt project settings
*.pro.user*

# Ignore dependencies obtained with the platform build scripts
dependencies/

# Ignore documentation folders generated with Doxygen
html/
latex/
